.EMI_calc_container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #f9fbfd;
}
@media only screen and (max-width: 600px) {
  .EMI_calc_container {
    padding: 10px;
  }
}
.slider_container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.heading {
  display: flex;
  justify-content: center;
}
.slider {
  width: 80%;
  margin: 20px 0;
}
.input-amount {
  border-color: 1px solid #333;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: auto;
  height: 38px;
  padding: 5px;
  margin-left: 10px;
}
.button_rupees {
  padding: 0px;
}
.button_year{
  padding: 0px;
}
.MuiButton-root {
  min-width: 30px !important;
  border: none !important;
  border-radius: 0 !important;
}
.KPI_chart {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .KPI_chart {
    flex-direction: column;
  }
}
.kpi {
  width: 80%;
}
.table {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .kpi {
    width: 100%;
  }
}
.pie {
  width: 20%;
}
@media only screen and (max-width: 600px) {
  .pie {
    width: 100%;
  }
}
.amortization_table {
  width: 100%;
  background-color: #fff;
}
.amortization_table td,
.amortization_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.amortization_table thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5B2A86;
  color: white;
}
.amortization_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.amortization_table tr:hover {
  background-color: #ddd;
}
.amortization_table tbody tr td {
  text-align: right;
}
.amort_data{
  display: flex;
  justify-content: center;
  
}
.amort_data table{
  width: 100%;
}
.btn{
  background-color: #5B2A86 !important;
  color: #fff !important;
}